@model IEnumerable<CMSystem.Models.Announcement>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnoucingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryTime)
        </th>        
        <th>
            Options
        </th>
    </tr>
    @{
        int counter = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnoucingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryTime)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.AnnouncementId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AnnouncementId }) |*@
@if (User.IsInRole("Member"))
{
              <button href="#" type="button" class="btn btn-default btn-sm" data-toggle="popover" title="Are you sure?" data-trigger="focus" data-content="<button class='btn btn-sm btn-info deleteButton' myid='@item.AnnouncementId'>Yes</button><button class='btn btn-sm btn-info CloseButton pull-right'>No</button>" data-html="true" data-placement="auto right">Delete</button>
}
                <!-- Button trigger modal -->
                <button type="button"  class="btn btn-primary btn-sm newCommentModal" data-toggle="modal" data-target="#myModal-@item.AnnouncementId" annoucementId="@item.AnnouncementId">
                    Comment
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal-@item.AnnouncementId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Comment Here</h4>
                            </div>
                            <div id="partialView-@item.AnnouncementId"></div>
                            <div class="modal-body">
                                Add Comments
                                <input class="form-control commentContent" id="commentContent-@item.AnnouncementId" type="text">
                                <label>
                                    <input type="checkbox" class="anonymous" id="anonymous-@item.AnnouncementId">  Anonymous
                                </label>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" annoucementId="@item.AnnouncementId" class="btn btn-primary newCommentSubmit" id="newCommentSubmit-@item.AnnouncementId">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        counter++;
    }

</table>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="popover"]').click(function (event) {
            event.preventDefault();
            $(".deleteButton").click(function () {
                var data = { id: $(this).attr('myid'), __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
                var button = $(this).parent().parent().parent().parent();
                $.ajax({
                    type: "POST",
                    url: '/Announcement/AJAXDeleteConfirmed',
                    data: data,
                    success: function (result) {
                        console.log("success");
                        button.remove();
                    }
                });
                //$(this).attr('myid') get announcement ID
            });
            $(".CloseButton").click(function () {
                $(this).popover('hide');
            })
        });
        //$('html').click(function (e) {
        //    $('[data-toggle="popover"]').popover('hide');
        //});
    });
</script>


<script>
    function CommentModels(announcementId) {
        var self = this;
        self.CommentContent = $('#commentContent-' + announcementId).val();
        self.Anonymous = $('#anonymous-' + announcementId).val();
    }


    $(function () {
        $('.table').on("click", ".newCommentSubmit", function () {
            var announcementId = $(this).attr("annoucementId");
            var commentModels = new CommentModels(announcementId);
            $.ajax({
                type: "POST",
                url: "@Url.Action("AJAXCreate", "Comment")",
                data: { commentModels, announcementId, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() },
                success: function (res) {
                    $("#partialView-" + announcementId).html(res);
                    $('.commentContent').val('');
                    $('.anonymous').prop('checked', false);
                }
            });
        });

        $('.newCommentModal').click(function () {
            var announcementId = $(this).attr("annoucementId");
            var data = { announcementId: announcementId, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            $.ajax({
                type: "POST",
                url: '/Comment/BuildCommentTable',
                data: data,
                success: function (res) {

                    $("#partialView-" + announcementId).html(res);
                }
            });
        });
    });

</script>
