@model CMSystem.Models.Event

<table class="table">

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EventName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.EventName)
        </td>
    </tr>


    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EventDescription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.EventDescription)
        </td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.StartTime)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.StartTime)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.EndTime)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.EndTime)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.Location)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.Location)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.Deadline)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.Deadline)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.Capacity)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.Capacity)</td>
    </tr>


    

</table>
