@model CMSystem.Models.Event


<div id="progressPercentage">
    @if (ViewBag.Percent == 0)
    {
       <p>Welcome to sign up !</p>
    }
    else if(ViewBag.Percent >= 100)
    {
        <p>Oooops! Better come earlier next time!</p>
        <p> @(ViewData["Number"]) people have signed up!!</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" bg-danger
                 style="width:100%"></div>
        </div>
    }else
    {
        <p> @(ViewData["Number"])% people have signed up!!</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
        </div>
    }    
</div>

<table class="table">

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EventName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.EventName)
        </td>
    </tr>


    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EventDescription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.EventDescription)
        </td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(model => model.StartTime)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.StartTime)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.EndTime)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.EndTime)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.Location)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.Location)</td>
    </tr>


    <tr>
        <td>@Html.DisplayNameFor(model => model.Deadline)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.Deadline)</td>
    </tr>


    @*<tr>
        <td>@Html.DisplayNameFor(model => model.Capacity)</td>

        <td>@Html.DisplayFor(modelItem => modelItem.Capacity)</td>
    </tr>*@


    

</table>
