@model IEnumerable<CMSystem.Models.Comment>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentContent)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Anonymous)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CommentTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Anonymous)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CommentTime)
            </td>
            <td>
                @*@html.actionlink("edit", "edit", new { id = item.commentid }) |
                @html.actionlink("details", "details", new { id = item.commentid }) |*@
                <a href="#" data-toggle="popover" title="Are you sure?" data-trigger="focus" data-content="<button class='btn btn-sm btn-info deleteButton' commentId='@item.CommentId'>Yes</button><button class='btn btn-sm btn-info CloseButton pull-right'>No</button>" data-html="true" data-placement="auto right">Delete</a>
            </td>
        </tr>
        }

</table>

<div id="DisplayCommentNumber">
    <p style="color:gainsboro">@(ViewData["CommentNumber"]) Comments</p>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="popover"]').click(function (e) {
                e.preventDefault();
            $(".deleteButton").click(function () {
                var data = { id: $(this).attr('commentId'), __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
                var button = $(this).parent().parent().parent().parent();
                $.ajax({
                    type: "POST",
                    url: '/Comment/AJAXDeleteConfirmed',
                    data: data,
                    success: function (result) {
                        button.remove();
                    }
                });
                //$(this).attr('myid') get announcement ID
            });
            $(".CloseButton").click(function () {
                $(this).popover(hide);
            })
        });
    });
</script>